The data set is in very bad format so initially I have to save the data in proper .csv file then we can apply muliple classification techniques to classify it

In [1]:
import pandas as pd
import numpy as np

In [4]:
Train_data = pd.read_clipboard()
Train_data.shape

(11999, 784)

In [5]:
Train_data1 = Train_data

In [8]:
np.arange(72)+1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72])

In [7]:
Train_data1.columns = np.arange(784 )

In [8]:
Train_data1

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,66.0,54.0,50.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,...,198.0,197.0,208.0,106.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,119.0,0.0,...,12.0,33.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,15.0,137.0,172.0,149.0,...,196.0,172.0,153.0,168.0,192.0,90.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,...,84.0,60.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,91.0,103.0,91.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11997,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,116.0,143.0,23.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
11998,0.0,0.0,1.0,1.0,1.0,0.0,74.0,191.0,0.0,0.0,...,57.0,41.0,32.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0

In [9]:
ls

 Volume in drive C is Win_11
 Volume Serial Number is 8281-55B4

 Directory of C:\Users\Safeer_Ahmad\Documents\Github\image_classification

03/11/2023  01:58 PM    <DIR>          .
03/11/2023  12:59 AM    <DIR>          ..
03/11/2023  01:00 AM                68 .gitattributes
03/11/2023  01:00 AM               163 .gitignore
03/11/2023  01:00 AM    <DIR>          .ipynb_checkpoints
03/11/2023  01:00 AM           118,494 classification.ipynb
03/11/2023  01:00 AM    <DIR>          Classification_data_set
03/11/2023  01:58 PM            16,160 Data_Import.ipynb
03/11/2023  01:02 AM        15,734,566 Data_set_improper.zip
03/11/2023  01:00 AM                86 README.md
               6 File(s)     15,869,537 bytes
               4 Dir(s)  872,747,487,232 bytes free

In [10]:
Train_data1.to_csv("Classification_data_set\Train_data_mod.csv")

In [11]:
test_data = pd.read_clipboard()

In [12]:
test_data1 = test_data

In [13]:
test_data1.shape

(3959, 784)

In [14]:
test_data1.columns = np.arange(784 )

In [15]:
test_data1.to_csv("Classification_data_set\Test_data_mod.csv")